<%- include partials/nav.ejs %>
<%- include partials/header.ejs %>


    <div class="container">
      <div class="row">
        <h4 class="pagetitle"><%= title %></h4>

      </div>

      <!-- <p>Welcome to <%= title %></p> -->
  
      
      <div class="row">
        <a class="btn btn-app" style="margin-left: 0;" href="/user-create">
          <i class="fa fa-user-plus"></i> Create user
        </a>
        <a class="btn btn-app">
          <i class="fa fa-play"></i> Play
        </a>
        <a class="btn btn-app">
          <i class="fa fa-play"></i> Play
        </a>
        <a class="btn btn-app">
          <i class="fa fa-play"></i> Play
        </a>
  </div>

  <div class="row">
    <h4 class="pagetitle">User status</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Mobile number</th>
          <th scope="col">status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>

      </tbody>
    </table>
  </div>
    </div>
    <!-- ---------------------------- -->

    <!-- ---------------------------- -->
    <%- include partials/footer.ejs %>