<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>



    <div class="container">
      <div class="row">
        <h4 class="pagetitle"><%= title %></h4>

      </div>

      <!-- <p>Welcome to <%= title %></p> -->
  
      
      <div class="row">
        <a class="btn btn-app" style="margin-left: 0;" href="/user-create">
          <i class="fa fa-user-plus"></i> Create user
        </a>
        <a class="btn btn-app">
          <i class="fa fa-play"></i> Play
        </a>
        <a class="btn btn-app">
          <i class="fa fa-play"></i> Play
        </a>
        <a class="btn btn-app">
          <i class="fa fa-play"></i> Play
        </a>
  </div>

  <div class="row">
    <h4 class="pagetitle">User status</h4>
  

      <% if(userdata){ %>
  
    
        <table class="table table-bordered">
    
            <tr>
                <th>ID</th>
                <th> Name</th>
                <th> User Status</th>
              
            </tr>
            <% for(var i=0; i<userdata.length; i++) {%>
                <tr>
                    <td><%= userdata[i].id %></td>
                    <td><%= userdata[i].user_name %></td>
                    <td><%= userdata[i].user_status %></td>
                  
                 
               
                </tr>
            <% } %>
    
        </table>
    
    
    <% } %>

    

  </div>
    </div>
    <!-- ---------------------------- -->

    <!-- ---------------------------- -->
    <%- include partials/footer.ejs %>